In [23]:
import pandas as pd
from collections import Counter, defaultdict
import arrow

In [44]:
d = pd.read_csv('data/B2C_Rentalcover_20DEC2019.csv', 
                parse_dates=['FromDate','ToDate','CreatedOn','ConfirmedOn','PaidOn','CancelledOn'])

d['CreatedOnDay'] = d['CreatedOn'].apply(lambda x: arrow.get(x).format('YYYY-MM-DD'))
d = d.drop_duplicates(['CustomerId', 'FromDate', 'ToDate', 'Type', 'CreatedOnDay'])

In [ ]:
utc_frm = 'YYYY-MM-DD hh:mm:ss UTC'

In [51]:
cls = ['CustomerId', 'Type', 'LanguageId', 'CreatedOnDay', 'FromDayWeek', 'ToDayWeek', 'DurationDays', 'UpfrontDays',
      'QuoteWeek', 'QuoteDay', 'QuoteHour', 'PaidWeek', 'PaidDay', 'PaidHour',
       'CurrencyId', 'Paid', 'isCar', 'ToCountry']

In [43]:
arrow.get('2018-09-09 15:43:09+00:00').format('YYYY-MM-DD')

'2018-09-09'

In [62]:
d1 = d.sort_values('CreatedOn').loc[d['CustomerId']==1683514, cls].fillna({'QuoteHour': 25, 'PaidWeek': 53, 'PaidDay': 8, 'PaidHour': 25})
d1['dt'] = d1['CreatedOnDay'].apply(lambda x: arrow.get(d1.iloc[-1]['CreatedOnDay']) - arrow.get(x))

In [64]:
d1

,CustomerId,Type,LanguageId,CreatedOnDay,FromDayWeek,ToDayWeek,DurationDays,UpfrontDays,QuoteWeek,QuoteDay,QuoteHour,PaidWeek,PaidDay,PaidHour,CurrencyId,Paid,isCar,ToCountry,dt
0,1683514,Booking,5,2018-09-09,7,5,12,12,36,1,25.0,36.0,1.0,16.0,3,128.51,0,IS,222 days
2,1683514,Quote,5,2018-09-09,7,5,12,12,36,1,16.0,53.0,8.0,25.0,3,133.71,0,IS,222 days
1,1683514,Booking,1,2019-04-19,7,7,14,91,16,6,25.0,16.0,6.0,20.0,3,99.81,1,PT,0 days

In [63]:
d.head()

,CustomerId,BookingId,Reference,Type,LanguageId,FromDate,ToDate,FromDayWeek,ToDayWeek,CreatedOn,...,Paid,CouponCode,isCar,ToCountry,FirstName,LastName,Email,ResCountry,CreatedOnDay,dt
0,1683514,46565787,S30N-RX0X-INS,Booking,5,2018-09-22,2018-10-04,7,5,2018-09-09 15:43:09+00:00,...,128.51,bonvoyage-r6THk,0,IS,jorge,domingo duet,jordi.dd@gmail.com,AD,2018-09-09,-552 days
1,1683514,78559302,E1AP-2HT3-INS,Booking,1,2019-07-20,2019-08-03,7,7,2019-04-19 20:17:13+00:00,...,99.81,bonvoyage-eIr5h,1,PT,jorge,domingo duet,jordi.dd@gmail.com,AD,2019-04-19,-774 days
2,1683514,46567395,9225-06HU-INS,Quote,5,2018-09-22,2018-10-04,7,5,2018-09-09 16:02:01+00:00,...,133.71,bonvoyage-yasce,0,IS,jorge,domingo duet,jordi.dd@gmail.com,AD,2018-09-09,-552 days
3,2111793,144435664,PJ6J-74HP-INS,Booking,1,2019-11-28,2019-12-17,5,3,2019-11-28 10:05:33+00:00,...,131.80,bonvoyage-PpTMO,1,ES,petr,vakoc,petrvakoc@gmail.com,AD,2019-11-28,-997 days
4,2111793,114235710,0PMO-R8L3-INS,Booking,1,2019-09-02,2019-09-13,2,6,2019-09-02 08:53:21+00:00,...,65.62,bonvoyage-Ta4iF,1,ES,petr,vakoc,petrvakoc@gmail.com,AD,2019-09-02,-910 days

In [31]:
arrow.get('2018-09-09 15:43:09 UTC', utc_frm)

In [45]:
d[d['CustomerId']==1683514].sort_values('CreatedOn')

,CustomerId,BookingId,Reference,Type,LanguageId,FromDate,ToDate,FromDayWeek,ToDayWeek,CreatedOn,...,CurrencyId,Paid,CouponCode,isCar,ToCountry,FirstName,LastName,Email,ResCountry,CreatedOnDay
0,1683514,46565787,S30N-RX0X-INS,Booking,5,2018-09-22,2018-10-04,7,5,2018-09-09 15:43:09+00:00,...,3,128.51,bonvoyage-r6THk,0,IS,jorge,domingo duet,jordi.dd@gmail.com,AD,2018-09-09
2,1683514,46567395,9225-06HU-INS,Quote,5,2018-09-22,2018-10-04,7,5,2018-09-09 16:02:01+00:00,...,3,133.71,bonvoyage-yasce,0,IS,jorge,domingo duet,jordi.dd@gmail.com,AD,2018-09-09
1,1683514,78559302,E1AP-2HT3-INS,Booking,1,2019-07-20,2019-08-03,7,7,2019-04-19 20:17:13+00:00,...,3,99.81,bonvoyage-eIr5h,1,PT,jorge,domingo duet,jordi.dd@gmail.com,AD,2019-04-19

In [22]:
Counter(d['FromDayWeek'].astype(str) + '->' + d['ToDayWeek'].astype(str)).most_common()

[('6->2', 2749),
 ('6->1', 2613),
 ('7->7', 2520),
 ('7->1', 1972),
 ('5->1', 1927),
 ('5->2', 1829),
 ('7->2', 1794),
 ('6->6', 1600),
 ('2->2', 1575),
 ('4->4', 1512),
 ('2->6', 1486),
 ('3->3', 1444),
 ('1->1', 1441),
 ('6->7', 1425),
 ('7->3', 1364),
 ('6->3', 1320),
 ('4->1', 1247),
 ('5->5', 1241),
 ('2->5', 1223),
 ('5->3', 1215),
 ('3->7', 1201),
 ('5->6', 1196),
 ('2->4', 1190),
 ('3->4', 1182),
 ('4->5', 1179),
 ('5->7', 1178),
 ('2->7', 1177),
 ('1->7', 1177),
 ('3->5', 1164),
 ('3->6', 1162),
 ('1->2', 1158),
 ('4->2', 1157),
 ('4->6', 1143),
 ('7->4', 1118),
 ('4->7', 1117),
 ('2->3', 1087),
 ('1->4', 1034),
 ('1->6', 1002),
 ('1->5', 955),
 ('6->4', 933),
 ('7->6', 931),
 ('4->3', 929),
 ('2->1', 927),
 ('3->2', 919),
 ('1->3', 914),
 ('7->5', 904),
 ('5->4', 866),
 ('6->5', 839),
 ('3->1', 812)]

In [2]:
class R:
    
    def __init__(self, mlfile, cfile):
        
        self.m = pd.read_csv(mlfile)
        self.c = pd.read_csv(cfile, dtype={'CustomerId': float})
        
    def fix(self):
        
        make_lower_cols = ['email', 'languagecode', 'first_name', 'countrycode', 'last_name']
        fix_date_cols = ['last_emailed', 'date_added', 'last_opened']
        useful_cols = ['email', 'first_name', 'last_name', 'date_added', 'last_emailed',
                        'last_clicked', 'last_opened', 'agentid', 'countrycode', 'customerid',
                        'kickbox_result', 'languagecode']
        
        
        _msk_first_name_avail = (self.m['first_name'].astype(str).str.lower().str.strip() != 'nan')
        _msk_first_name_other_avail = (self.m['firstname'].astype(str).str.lower().str.strip() != 'nan')
        
        _msk_take_other_name = _msk_first_name_other_avail & (~_msk_first_name_avail)
        
        self.m['first_name'] = self.m['first_name'].where(~_msk_take_other_name, self.m['firstname'])
        
        self.m[make_lower_cols] = self.m[make_lower_cols].applymap(lambda x: str(x).lower().strip())
        
        self.m[fix_date_cols] = self.m[fix_date_cols].applymap(lambda x: arrow.get(str(x), 'MM/DD/YYYY').format('YYYY-MM-DD') if str(x) != 'nan' else None)
        
        self.m = self.m[useful_cols]
        
        print(f'there are {self.m["email"].nunique():,} unique email addresses in the mailing list')
        
#         cids_incommon = len({_ for _ in (set(self.c['CustomerId']) & set(self.m['customerid'])) if _.istype(float)})
        
#         print(f'cids in common: {cids_incommon:,}')
        
#         cust_emails = {_ for _ in s(et(self.c["Email1"]) | set(self.c["Email2"])) if '@' in str(_)}
        
#         print(f'total customer emails: {len(cust_emails):,}')
#         emails_incommon = cust_emails & set(self.m['email'])
        
#         print(f'emails in common: {len(emails_incommon):,}')
        
        return self

In [3]:
r = R(mlfile='data/all_contacts_list_export.csv', 
      cfile='data/bq-results-20191212-153418-s8cqnfpum1ou.csv').fix()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

there are 827,099 unique email addresses in the mailing list

In [4]:
r.m.head()

,email,first_name,last_name,date_added,last_emailed,last_clicked,last_opened,agentid,countrycode,customerid,kickbox_result,languagecode
0,tamtzesiang@gmail.com,tze siang,tam,2019-10-30,2019-11-12,NaN,2019-11-12,28,sg,NaN,NaN,en
1,frauleinfink@yahoo.co.uk,iris,henderson,2016-12-12,2017-06-07,NaN,None,NaN,nan,144326.0,NaN,nan
2,122141419@qq.com,良俊,金,2018-06-12,2019-12-10,NaN,2019-12-11,28,cn,NaN,NaN,zh
3,mcdurbanaustralia@gmail.com,christine,durban,2018-12-04,2019-12-10,NaN,2019-02-19,NaN,au,NaN,deliverable,en
4,jan_willem.van_wijck@novartis.com,jan,van wijck,2018-12-04,2018-12-04,NaN,None,NaN,ch,NaN,risky,en

In [5]:
r.c.head()

,CustomerId,BookingId,Reference,Type,LanguageId,FromDate,ToDate,CreatedOn,ConfirmedOn,Days,...,Paid,CouponCode,isCar,ToCountry,FirstName,LastName,Email1,Email2,CRecCreatedOn,ResCountry
0,2417812.0,73786064,LYCZ-183Y-INS,Quote,25.0,2019-04-03 00:00:00,2019-04-04 00:00:00,2019-03-27 14:12:09 UTC,NaN,1,...,14.34,bonvoyage-Q7g9t,1,ES,oles,ryaboy,tallar65@gmail.com,NaN,2019-07-30 03:54:46 UTC,UA
1,2341313.0,90899689,DD19-1BX9-INS,Quote,1.0,2019-09-13 00:00:00,2019-09-16 00:00:00,2019-06-13 08:16:32 UTC,NaN,3,...,35.93,bonvoyage-TZUNv,1,DE,ihor,tkachenko,5fotostudio@ukr.net,NaN,2019-07-30 03:54:46 UTC,UA
2,2227967.0,66615576,N09Y-JFKN-INS,Quote,25.0,2019-03-02 00:00:00,2019-03-10 00:00:00,2019-02-15 11:45:09 UTC,NaN,8,...,67.96,bonvoyage-gmFQW,1,DE,valeriy,saranchov,vsaranchov@gmail.com,NaN,2019-07-30 03:54:46 UTC,UA
3,3417283.0,122222780,SURJ-292T-INS,Booking,25.0,2019-09-23 00:00:00,2019-09-27 00:00:00,2019-09-23 20:55:32 UTC,2019-09-23 20:57:35 UTC,4,...,31.70,bonvoyage-KPI3b,1,UA,anton,osipov,ant2002@ukr.net,NaN,2019-09-23 20:52:34 UTC,UA
4,2738144.0,87640484,5N64-Q330-INS,Booking,45.0,2019-06-01 00:00:00,2019-06-05 00:00:00,2019-05-31 07:15:58 UTC,2019-05-31 07:49:22 UTC,4,...,35.60,bonvoyage-JBt0t,1,ES,anna,melnykova,lelekaua@gmail.com,NaN,2019-07-30 03:54:46 UTC,UA

In [47]:
ww = r.c[['CustomerId','Reference','Type','CreatedOn','ToCountry','Days']] \
            .groupby(['CustomerId', 'Type']) \
            .nunique().query("ToCountry>3")

In [54]:
cust_who_boked = r.c[r.c['ConfirmedOn'].notnull()].drop_duplicates(['Reference', 'ToCountry', 'ConfirmedOn'])

In [59]:
cust_who_boked.groupby(['CustomerId']).agg(lambda x: list(x))

,BookingId,Reference,Type,LanguageId,FromDate,ToDate,CreatedOn,ConfirmedOn,Days,PaidWk,...,Paid,CouponCode,isCar,ToCountry,FirstName,LastName,Email1,Email2,CRecCreatedOn,ResCountry
CustomerId,,,,,,,,,,,,,,,,,,,,,
39.0,[48003292],[40DN-0UZ1-INS],[Booking],[1.0],[2018-09-24 00:00:00],[2018-09-27 00:00:00],[2018-09-24 02:07:17 UTC],[2018-09-24 02:42:16 UTC],[3],[39.0],...,[32.45],[bonvoyage-eTPRv],[1],[AU],[arlene],[mackay],[brokenhillhotel@hotmail.com],[nan],[2019-07-30 03:54:46 UTC],[AU]
215.0,[34009389],[9K2G-0IV4-INS],[Booking],[1.0],[2018-06-08 00:00:00],[2018-06-13 00:00:00],[2018-05-29 00:21:36 UTC],[2018-05-29 00:26:02 UTC],[5],[22.0],...,[49.71],[bonvoyage-PfLmi],[1],[AU],[dana],[dulak],[ddulak@redcrossblood.org.au],[nan],[2019-07-30 03:54:46 UTC],[AU]
276.0,"[4148885, 11577267, 116791828]","[1K1B-CD0V-INS, GI9K-T466-INS, 2N49-64BC-INS]","[Booking, Booking, Booking]","[nan, 1.0, 1.0]","[2017-03-26 10:30:00, 2017-09-26 10:45:00, 201...","[2017-04-02 16:45:00, 2017-10-02 12:30:00, 201...","[2017-02-28 07:35:12 UTC, 2017-09-13 01:08:28 ...","[2017-03-20 23:32:01 UTC, 2017-09-21 00:52:01 ...","[7, 6, 10]","[12.0, 38.0, 36.0]",...,"[78.27, 67.37, 94.52]","[nan, nan, nan]","[0, 0, 0]","[AU, AU, AU]","[greg, greg, greg]","[tate, tate, tate]","[greg@tateswim.com.au, greg@tateswim.com.au, g...","[nan, nan, nan]","[2019-07-30 03:54:46 UTC, 2019-07-30 03:54:46 ...","[AU, AU, AU]"
487.0,"[23562807, 3371410]","[80U4-36N0-INS, TD63-BDI2-INS]","[Booking, Booking]","[1.0, 1.0]","[2018-03-19 00:00:00, 2016-12-15 00:00:00]","[2018-03-25 00:00:00, 2016-12-18 00:00:00]","[2018-02-19 05:51:30 UTC, 2016-12-12 03:07:28 ...","[2018-02-19 22:38:08 UTC, 2016-12-12 22:16:11 ...","[6, 3]","[8.0, 50.0]",...,"[60.95, 35.76]","[bonvoyage-WDGHM, nan]","[1, 1]","[AU, AU]","[chris, chris]","[steiner, steiner]","[chris.steiner@vicash.com.au, chris.steiner@vi...","[nan, nan]","[2019-07-30 03:54:46 UTC, 2019-07-30 03:54:46 ...","[AU, AU]"
802.0,[5115163],[VG0Y-M79Y-INS],[Booking],[nan],[2017-06-08 10:00:00],[2017-06-11 10:30:00],[2017-05-27 02:27:00 UTC],[2017-06-03 00:02:01 UTC],[3],[22.0],...,[35.78],[nan],[0],[AU],[peter],[smith],[waitedtoolong@live.com],[nan],[2019-07-30 03:54:46 UTC],[AU]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3790056.0,[148457605],[2KB3-3UU5-INS],[Booking],[1.0],[2020-04-09 00:00:00],[2020-04-13 00:00:00],[2019-12-10 21:55:28 UTC],[2019-12-10 23:00:14 UTC],[4],[50.0],...,[31.55],[bonvoyage-cha1j],[1],[ES],[aharon],[ron levy],[rl2501@gmail.com],[nan],[2019-12-10 21:30:31 UTC],[IL]
3790164.0,[148461622],[S0Y7-NY8V-INS],[Booking],[5.0],[2019-12-13 00:00:00],[2019-12-15 00:00:00],[2019-12-10 22:07:42 UTC],[2019-12-10 23:15:58 UTC],[2],[50.0],...,[19.86],[bonvoyage-615wo],[1],[ES],[luisa],[ruiz gil],[diosalu@hotmail.com],[nan],[2019-12-10 22:07:41 UTC],[ES]
3790263.0,[148470873],[2KBY-PWHW-INS],[Booking],[5.0],[2020-01-04 00:00:00],[2020-01-08 00:00:00],[2019-12-10 22:41:31 UTC],[2019-12-10 23:54:04 UTC],[4],[50.0],...,[28.58],[bonvoyage-vqzA7],[1],[ES],[antonio],[arias pires],[apires_02@hotmail.com],[nan],[2019-12-10 22:41:30 UTC],[ES]
3790431.0,[148480910],[V5XD-6092-INS],[Booking],[1.0],[2020-02-20 00:00:00],[2020-02-24 00:00:00],[2019-12-10 23:27:49 UTC],[2019-12-11 01:19:29 UTC],[4],[50.0],...,[31.39],[bonvoyage-3L2GJ],[1],[NO],[daniel],[stoate],[danstoate@hotmail.co.uk],[nan],[2019-12-10 23:27:49 UTC],[GB]
3790442.0,[148481587],[W9ZC-L8N3-INS],[Booking],[1.0],[2019-12-12 00:00:00],[2019-12-27 00:00:00],[2019-12-10 23:32:05 UTC],[2019-12-11 00:42:44 UTC],[15],[50.0],...,[80.09],[bonvoyage-UU5Bu],[1],[MX],[carl],[wilson],[carl_wilson1981@hotmail.co.uk],[nan],[2019-12-10 23:32:05 UTC],[GB]

In [49]:
ch = {i[0] for i in ww.index}

In [50]:
r.c[r.c['CustomerId'].isin(ch)].groupby('Email1').agg(lambda x: set(x))

,CustomerId,BookingId,Reference,Type,LanguageId,FromDate,ToDate,CreatedOn,ConfirmedOn,Days,...,CurrencyId,Paid,CouponCode,isCar,ToCountry,FirstName,LastName,Email2,CRecCreatedOn,ResCountry
Email1,,,,,,,,,,,,,,,,,,,,,
0125dandelion@gmail.com,{2422765.0},"{130523716, 87824103, 116342604, 116343480, 11...","{61H9-KW29-INS, 96H5-7IIX-INS, 4SE8-VD75-INS, ...","{Quote, Booking}","{8.0, 1.0, 7.0}","{2019-06-06 00:00:00, 2019-04-16 00:00:00, 201...","{2019-10-21 00:00:00, 2019-04-16 00:00:00, 201...","{2019-11-10 09:31:40 UTC, 2019-09-07 18:09:34 ...","{nan, 2019-09-07 18:15:02 UTC, 2019-03-28 17:3...","{9, 2, 4, 7}",...,{5},"{35.57, 70.39, 17.28, 50.81, 19.63, 22.2, 55.7...","{bonvoyage-OWaGQ, bonvoyage-2ACFs, bonvoyage-k...",{1},"{IT, NL, CH, TW, GB}",{chao-hsun},{chen},{nan},{2019-07-30 03:54:46 UTC},{GB}
0199095@mail.ru,{1228987.0},"{80187172, 115816361, 115817833, 126157324, 11...","{AG8O-1FD5-INS, 075G-T0O8-INS, 4T7F-501M-INS, ...","{Quote, Booking}",{25.0},"{2019-08-26 00:00:00, 2019-09-12 00:00:00, 201...","{2019-09-01 00:00:00, 2019-05-09 00:00:00, 201...","{2019-09-06 07:08:29 UTC, 2019-09-06 07:16:50 ...","{nan, 2019-04-28 12:23:36 UTC, 2019-09-06 07:2...","{8, 4, 5, 6}",...,{3},"{33.2, 39.95, 46.93, 51.6, 63.28}","{bonvoyage-pmvUG, bonvoyage-6wwrA, bonvoyage-k...",{1},"{FR, SI, IT, ES}",{alexander},{ivanov},{nan},{2019-07-30 03:54:46 UTC},{RU}
0527160@gmail.com,{2879409.0},"{103105986, 94037958, 104983463, 104985067, 10...","{UH56-A4M7-INS, M65M-CZ19-INS, Z016-5G89-INS, ...","{Quote, Booking}",{13.0},"{2019-08-16 00:00:00, 2019-07-06 00:00:00, 201...","{2019-09-04 00:00:00, 2019-08-29 00:00:00, 201...","{2019-11-15 09:01:41 UTC, 2019-08-04 09:38:32 ...","{nan, 2019-07-05 12:21:17 UTC, 2019-08-04 09:3...","{9, 10, 11, 13, 30}",...,"{65, 2, 3, 1, 5, 54}","{67.12, 101.36, 70.61, 104.12, 204.49, 77.53, ...","{bonvoyage-touQX, bonvoyage-cAEYm, bonvoyage-L...",{1},"{CH, DE, IT, US}",{chrlap},{refael},{nan},{2019-07-30 03:54:46 UTC},{IL}
13958133896@139.com,{285929.0},"{39785223, 4540298, 43038221, 42924431, 361870...","{25JF-072A-INS, RJVB-B87G-INS, NSJ4-WAA7-INS, ...","{Quote, Booking}","{8.0, 1.0, 7.0}","{2017-05-15 00:00:00, 2018-08-14 00:00:00, 201...","{2017-10-08 00:00:00, 2017-05-27 00:00:00, 201...","{2018-08-11 04:34:02 UTC, 2016-12-20 17:24:05 ...","{nan, 2017-09-05 11:04:03 UTC, 2017-01-10 09:4...","{2, 4, 6, 7, 8, 9, 12, 20}",...,"{1, 2, 5}","{nan, nan, nan, nan, nan, 0.0, 161.42, 37.5, 4...","{nan, bonvoyage-uShjb, bonvoyage-5al19, bonvoy...","{0, 1}","{CA, CN, AU, US}",{wang},{ji},{nan},{2019-07-30 03:54:46 UTC},{CN}
2296591@gmail.com,{2080014.0},"{118154368, 118156801, 116384003, 122827079, 1...","{31CK-3PQ3-INS, RY6F-TPB3-INS, 8E00-X6NW-INS, ...","{Quote, Booking}",{13.0},"{2019-09-10 00:00:00, 2019-09-16 00:00:00, 201...","{2019-09-10 00:00:00, 2019-08-29 00:00:00, 201...","{2019-09-07 20:12:36 UTC, 2019-01-10 09:22:43 ...","{nan, 2019-09-12 12:42:17 UTC, 2019-09-07 20:1...","{0, 1, 2, 4, 6, 10}",...,"{2, 5, 54}","{34.47, 37.37, 8.93, 9.57, 76.44, 19.58, 19.59...","{bonvoyage-AaCyl, bonvoyage-mertj, bonvoyage-K...",{1},"{PL, HU, DE, US}",{yitzchak meir},{sheinbach},{nan},{2019-07-30 03:54:46 UTC},{IL}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zhoro@zaharievi.com,{121910.0},"{113363974, 39585033, 12069394, 13402902, 5156...","{4HEQ-7HGN-INS, VXV5-T340-INS, 5B5Y-5Y97-INS, ...","{Quote, Booking}",{1.0},"{2017-09-22 00:00:00, 2019-08-31 00:00:00, 201...","{2019-10-14 00:00:00, 2019-07-28 00:00:00, 201...","{2019-08-30 19:11:42 UTC, 2019-02-27 17:36:37 ...","{nan, 2019-08-30 19:11:42 UTC, 2017-02-27 10:0...","{1, 2, 3, 4, 5, 6, 7, 9, 14}",...,"{3, 23}","{nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","{nan, bonvoyage-rb5Lx, bonvoyage-fhrdg}",{1},"{GR, FR, IT, ES, US}",{georgi},{zahariev},{zahariev@dynamosoftware.com},{2019-07-30 03:54:46 UTC},{BG}
zkudrna@gmail.com,{413898.0},"{12073792, 6382209, 66012290, 51430211, 665393...","{9FS6-88H4-INS, 5FP7-LTB9-INS, 945Z-36SW-INS, ...","{Quote, Booking}",{1.0},"{2018-09-27 00:00:00, 2018-10-31 00:00:00, 201...","{2018-12-28 00:00:00, 2018-08-11 00:00:00, 201...","{2018-10-29 11:23:21 UTC, 2019-02-14 22:36:11 ...","{nan, 2017-09-20 14:52:18 UTC, 2018-12-18 18:4...","{2, 3, 4, 5, 7}",...,"{65, 3}","{37.01, 38.41, 48.31, 50.21, 50.19, 55.51, 27....","{nan, bonvoyage-a4u7w, bonvoyage-bfL1F, bonvoy...",{1},"{CZ, NZ, AT, CH, DE}",{zdenek},{kudrna},{nan},{2019-07-30 03:54:46 UTC},{CH}
zsofia.asztalos@gmail.com,{1104923.0},"{135030019, 69715340, 91464973, 91463321, 4405...","{N85S-V6U2-INS, 4OA6-OJM5-INS, 7B3I-33N8-INS, ...","{Quote, Booking}",{1.0},"{2018-06-15 00:00:00, 2019-08-18 00:00:00, 201...","{2019-11-19 00:00:00, 2019-08-22 00:00:00, 201...","{2019-01-22 09:12:00 UTC, 2019-01-22 09:09:01 ...","{nan, 2018-08-17 13:21:44 UTC, 2018-12-19 10:5...","{2, 3, 4, 5}",...,{3},"{26.6, 21.43, 22.63, 24.92, 25.1, 25.81, 25.77...","{bonvoyage-8rxz1, bonvoyage-H2rPD, bonvoyage-t...",{1},"{MT, GR, MX, FR, IT, HU}",{zsofia},{asztalos},{nan},{2019-07-30 03:54:46 UTC},{LU}
zur.yosi@gmail.com,{820138.0},"{59158200, 87447594, 38522784, 136056423}","{1UY8-75D7-INS, B9K4-6427-INS, 9QB3-535A-INS, ...",{Booking},"{1.0, 13.0}","{2019-07-10 00:00:00, 2019-01-24 00:00:00, 201...","{2019-07-25 00:00:00, 2018-09-27 00:00:00, 202...","{2018-07-04 10:11:42 UTC, 2019-11-03 20:12:08 ...","{2018-12-29 20:54:34 UTC, 2019-05-30 12:45:59 ...","{11, 15, 14, 7}",...,"{2, 3, 5}","{56.49, 98.01, 132.07, 78.84}","{bonvoyage-7oSb2, bonvoyage-EjH42, bonvoyage-J...",{1},"{PT, IT, US, ES}",{yoel},{oren},{nan},{2019-07-30 03:54:46 UTC},{IL}
zvjezdan1982@yahoo.com,{956596.0},"{22722763, 22719949, 27133297, 22718321, 22722...","{K1AN-7C4F-INS, A826-R4T2-INS, HN10-8G0S-INS, ...","{Quote, Booking}",{1.0},"{2018-03-28 00:00:00, 2018-02-10 00:00:00, 201...","{2018-02-10 00:00:00, 2018-04-08 00:00:00, 201...","{2018-02-10 02:51:04 UTC, 2018-02-10 03:02:26 ...","{nan, 2018-03-25 15:02:37 UTC}","{0, 11, 12, 13, 14}",...,"{1, 2, 3}","{132.0, 165.0, 103.0, 8.44, 143.0}","{nan, bonvoyage-tFY3r}",{1},"{PT, DE, NZ, AU}",{zvjezdan},{covic},{nan},{2019-07-30 03:54:46 UTC},{US}